<div style="max-width: 1200px; margin: 0 auto; padding: 10px;" >
<div class="container-fluid">
  <div class="row" border='1px solid red'>
    <div class="col-xs-4 col-sm-3 col-md-2" style="width:100%;">

      <img src="steaming.jpg" width="150" height="150">
      <img src="coffee-image1.jpg" width="150" height="150">
      <img src="coffee-image2.jpg" width="150" height="150">
      <img src="coffee-image3.jpg" width="150" height="150">
      <img src="coffee-image4.jpg" width="150" height="150">
      <img src="coffee-image5.jpg" width="150" height="150">
  </div>
</div>

<div class="sufficent-map">
  <h4>Sufficient</h4>
</div>

<div class="in-sufficent-map">
  <h4>In-Sufficient</h4>
</div>

<div class="overloaded-map">
  <h4>Over-Staffed</h4>
</div>


<div class="days">
  <div class= {{sundayShiftStatus}}>
    <h4>Sunday</h4>
    <ul>
      {{#each sundayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class= {{mondayShiftStatus}}>
    <h4>Monday</h4>
    <ul>
      {{#each mondayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class= {{tuesdayShiftStatus}}>
    <h4>Tuesday</h4>
    <ul>
      {{#each tuesdayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class= {{wednesdayShiftStatus}}>
    <h4>Wednesday</h4>
    <ul>
      {{#each wednesdayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class= {{thursdayShiftStatus}}>
    <h4>Thursday</h4>
    <ul>
      {{#each thursdayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class= {{fridayShiftStatus}}>
    <h4>Friday</h4>
    <ul>
      {{#each fridayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <div class= {{saturdayShiftStatus}}>
    <h4>Saturday</h4>
    <ul>
      {{#each saturdayStaff}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>

</div>

<div class="container-fluid">
  <div class="row" border='1px solid red' style="">
    <div class="col-xs-12 col-md-6 col-lg-8" id="" style="">

      <form id="reset-form" method="post" action="/days">
        <button class="btn btn-success" type="submit" value="submit">Reset</button>
      </form>

    </div>

  </div>
</div>
</div>
