
<div style="max-width: 1200px; margin: 0 auto; padding: 10px;" >


<div class="container-fluid">
  <div class="row" border='1px solid red' style="">
<button class="btn btn-success"><a href="/waiter/{{output.empID}}">Update</a></button>
<button class="btn btn-success"><a href="/home">Log-off</a></button>
</div>
</div>


<h3 class="empIDOutput"> Employee ID: {{output.empID}} </h3>
<h3 class="empNameOutput">  Welcome {{output.name}} </h3>
<h3 class="empNameOutput">  Your Schedule for the week </h3>


<div class="container-fluid">
  <div class="row" border='1px solid red' style="">
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{sunMessg}}</td>
            <td>{{monMessg}}</td>
            <td>{{tueMessg}}</td>
            <td>{{wedMessg}}</td>
            <td>{{thurMessg}}</td>
            <td>{{friMessg}}</td>
            <td>{{satMessg}}</td>
        </tr>

    </tbody>
</table>
</div>
</div>
</div>
</div>
