

<h2>
<a href="/waiter/{{output.empID}}">Update</a>
<a href="/home">Log-off</a>
</h2>

<h1 class="empIDOutput"> Employee ID: {{output.empID}} </h1>
<h1 class="empNameOutput">  Welcome {{output.name}} </h1>
<h1 class="empNameOutput">  Your Schedule for the week </h1>
<h1 class="tableSchedule">
<table>
    <thead>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{sunMessg}} {{output.availability.Sunday}} </td>
            <td>{{monMessg}} {{output.availability.Monday}} </td>
            <td>{{tueMessg}} {{output.availability.Tuesday}}</td>
            <td>{{wedMessg}} {{output.availability.Wednesday}}</td>
            <td>{{thurMessg}} {{output.availability.Thursday}}</td>
            <td>{{friMessg}} {{output.availability.Friday}}</td>
            <td>{{satMessg}} {{output.availability.Saturday}}</td>
        </tr>

    </tbody>
</table>
</h1>
