<div class="steaming">
<img src="steaming.jpg" class="steamingImg">
<img src="coffee-image1.jpg" class="steamingImg">
<img src="coffee-image2.jpg" class="steamingImg">
<img src="coffee-image3.jpg" class="steamingImg">
<img src="coffee-image4.jpg" class="steamingImg">
<img src="coffee-image5.jpg" class="steamingImg">
</div>

<h2>
<a href="/login">Sign In</a>
<a href="/create-new-account">New Account</a>
<a href="/home">Log-off</a>
</h2>
<br><br><br><br>
<table>
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Position</th>
            <!-- <th colspan="7">Employee Availabilty</th>
        </tr>
        <tr>
            <th colspan="3"></th> -->

            <!-- <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th> -->
        </tr>
    </thead>
    <tbody>
        {{#each employee}}
        <tr>
            <td>{{this.empID}} </td>
            <td>{{this.name}} </td>
            <td>{{this.position}} </td>
            <!-- <td>{{this.availability.Sunday}} </td>
            <td>{{this.availability.Monday}} </td>
            <td>{{this.availability.Tuesday}} </td>
            <td>{{this.availability.Wednesday}} </td>
            <td>{{this.availability.Thursday}} </td>
            <td>{{this.availability.Friday}} </td>
            <td>{{this.availability.Saturday}} </td> -->
          {{/each}}
        </tr>

    </tbody>
</table>
